.btn {
  display: inline-grid;
  place-items: center;
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  border: none;
  font-size: var(--fs-100);
  font-family: inherit;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 0.0625rem;
  transition: 250ms ease-in-out;
}

.btn:active {
  font-size: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem hsl(var(--clr-accent));
}

/* STYLES */
/* accent button */
.accent {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-accent));
}
.accent:is(:hover, :active) {
  background-color: hsl(var(--clr-accent-hover));
}

/* dark button */
.dark {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-black));
}
.dark:is(:hover, :active) {
  background-color: hsl(var(--clr-black-lighter));
}

/* oulline button */
.outline {
  background-color: 0;
  border: 1px solid hsl(var(--clr-black));
}
.outline:is(:hover, :active) {
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-black));
}

/* disabled */
.disabled {
  background-color: hsl(var(--clr-grey));
}

/* HAMBURGER */
.hamburger {
  cursor: pointer;
  color: hsl(var(--clr-white));
  border: 0;
  background: 0;
  width: 1rem;
  height: 0.9375rem;
  background-image: url(/assets/shared/tablet/icon-hamburger.svg);
  background-position: center;
  transition: 350ms ease-in-out;

  @media (min-width: 60em) {
    display: none;
  }
}
/* style when clicked */
.hamburger.active {
  rotate: 180deg;
  background-image: url(/assets/shared/tablet/icon-close.svg);
}

/* RETURN BUTTON */
.returnButton {
  opacity: 0.5;
  cursor: pointer;
  background: 0;
  border: 0;
  transition: 300ms ease-in-out;
}
.returnButton:is(:hover, :active) {
  color: hsl(var(--clr-accent));
  opacity: 1;
}

/* COUNTER */
.counter {
  display: flex;
  align-items: center;
  background-color: hsl(var(--clr-grey-light));
  max-width: 10rem;
  padding-inline: 0.9rem;
  min-height: 2rem;
}
.counter p {
  margin-inline: auto;
}
.counter p,
.counter button {
  color: inherit;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}
.counter button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  opacity: 0.25;
  width: 1rem;
  transition: color 300ms ease-in-out opacity 300ms ease-in-out;
}
.counter button:is(:hover, :focus) {
  color: hsl(var(--clr-accent));
  opacity: 1;
}
.counter button:active {
  font-size: var(--fs-400);
}
