/* HERO */
.hero {
  margin-top: -1px;
  position: relative;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-black-grey));
}

.heroWrapper {
  display: grid;
  place-items: center;
  height: 31.9375rem;
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center -7.5rem;
  background-size: 25rem;
}

.heroDescription {
  z-index: 2;
}
@media (min-width: 47em) {
  .heroWrapper {
    height: 39.9375rem;
    background-image: url("/assets/home/tablet/image-header.jpg");
    background-position: center -6rem;
    background-size: 49rem;
  }
}

@media (min-width: 79em) {
  .heroWrapper {
    height: 39.5625rem;
    justify-content: start;
    background-position: center -4rem;
    background-image: url("/assets/home/desktop/image-hero.jpg");
    background-size: 120%;
  }
}
