/* HERO */
.hero {
  position: relative;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-black-grey));
}

.heroWrapper {
  display: grid;
  place-items: center;
  height: 31.9375rem;
  background-image: url("/assets/home/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center -7.5rem;
  background-size: 25rem;
}

.heroDescription {
  z-index: 2;
}

/* CATEGORYLIST */
.categoryList {
  padding-block: 2.5rem 7.5rem;
}
/* tablet */
@media (min-width: 47em) {
  .heroWrapper {
    height: 39.9375rem;
    background-image: url("/assets/home/tablet/image-header.jpg");
    background-position: center -6rem;
    background-size: 49rem;
  }
  /* CATEGORYLIST */
  .categoryList {
    padding-block: 6rem;
  }
}
/* desktop */
@media (min-width: 79em) {
  .heroWrapper {
    height: 39.5625rem;
    justify-content: start;
    background-position: center -4rem;
    background-image: url(/assets/home/desktop/image-hero.jpg);
    background-size: 120%;
  }
  /* CATEGORYLIST */
  .categoryList {
    padding-block: 7.5rem 10.5rem;
  }
}



/* GALLERY */
.galleryGrid {
  display: grid;
  grid-template-rows: 37.5rem 20rem 12.5rem 12.5rem;
  gap: 1.5rem;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}

.galleryGrid > * {
  border-radius: var(--br-1);
  padding: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* grid one */
.gridOne {
  position: relative;
  display: grid;
  grid-area: one;
  place-items: center;
  text-align: center;
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-accent));
  overflow: hidden;
}

.gridOne h4 {
  font-size: var(--fs-900);
  text-transform: uppercase;
  line-height: 3.625rem;
  letter-spacing: 0.125rem;
}
.gridOne p {
  opacity: 0.75;
  max-width: 35ch;
}

/* index of image + information */
.gridOne picture{
  z-index: 2;
}
.gridOneInformation {
  z-index: 2;
}

.gridOneInformation > *:where(:not(:first-child)) {
  margin-top: 1.5rem;
}
/* grid one image + pattern */
.gridOneImageWrapper {
  position: relative;
  display: grid;
  place-items: center;
}
.gridOneImage{
  max-width: 10.7655rem;
}
.circlePattern {
  position: absolute;
  max-width: 20rem;
  z-index: 0;
}

/* grid two */
.gridTwo {
  grid-area: two;
  background-image: url(/assets/home/mobile/image-speaker-zx7.jpg);
}

.gridThree {
  grid-area: three;
  background-image: url(/assets/home/mobile/image-earphones-yx1.jpg);
}

.gridFour {
  grid-area: four;
  background-color: hsl(var(--clr-grey-light));
}
/* grouped grid styling */
.gridTwo h4,
.gridFour h4 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.08038rem;
}

.gridTwo,
.gridFour {
  display: grid;
  justify-items: start;
  align-items: center;
}

.gridTwo h4,
.gridFour h4 {
  margin-bottom: 2rem;
}

/* /////////////// */
/* GALLERY ONLY mq */
/* /////////////// */
@media (min-width: 42em) {
  /* GALLERY */
  .galleryGrid {
    grid-template-rows: 45rem 20rem 20rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0.69rem;
    grid-template-areas:
      "one one"
      "two two"
      "three four";
  }

  .gridOneImage {
    max-width: 12.32575rem;
  }
  .circlePattern {
    max-width: 59rem;
  }

  .gridTwo {
    background-image: url(/assets/home/tablet/image-speaker-zx7.jpg);
    background-position: center bottom;
  }
  .gridThree {
    background-image: url(/assets/home/tablet/image-earphones-yx1.jpg);
  }
  /* grouped grid styling */
  .gridTwo h4,
  .gridFour h4 {
    letter-spacing: 0.125rem;
  }
}

@media (min-width: 65em) {
  /* GALLERY */
  .galleryGrid {
    grid-template-rows: 35rem 20rem 20rem;
    grid-template-areas:
      "one one"
      "two two"
      "three four";
    gap: 3rem 1.88rem;
  }

  /* gridOne */
  .gridOne {
    grid-auto-columns: 1fr 1fr;
    text-align: left;
    overflow: hidden;
  }
  .gridOneImageWrapper {
    position: absolute;
    bottom: -0.5rem;
    left: 7rem;
  }
  .gridOneImage {
    max-width: 25.63963rem;
  }
  .circlePattern {
    top: -5rem;
  }
  .gridOneInformation {
    justify-self: end;
    margin-right: 4.44rem;
  }

  .gridTwo {
    grid-area: two;
    background-image: url(/assets/home/desktop/image-speaker-zx7.jpg);
  }
  .gridThree {
    background-image: url(/assets/home/desktop/image-earphones-yx1.jpg);
  }
}
