.companyLogo,
.socials {
  cursor: pointer;
  fill: hsl(var(--clr-white));
  transition: 300ms ease-in-out;
}

.socials:is(:hover, :active),
.companyLogo:is(:hover, :active) {
  fill: hsl(var(--clr-accent));
}

.arrowRight {
  stroke: hsl(var(--clr-accent));
}
